body {
  display: inline-block;
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  background-color: #000000;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
  padding-left: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  color: #ffffff;
  /*padding-top: 16px;*/
  padding-left: 16px;
}

p {
  color: #ffffff;
  font-size: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.main {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #000000;
  padding: 0px;
}

.content-box-first {
  float: none;
  width: auto;
  height: auto;
  /*margin-top: 64px;*/
  margin-top: 0.5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 64px;
  background-color: #171718;
  border: 5px solid #454648;
  border-radius: 16px;
  font-size: 20px;
}

.content-box {
  float: none;
  width: auto;
  height: auto;
  /*margin-top: 64px;*/
  margin-top: 64px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 64px;
  background-color: #171718;
  border: 5px solid #454648;
  border-radius: 16px;
  font-size: 20px;
}

.content-box-last {
  float: none;
  width: auto;
  height: auto;
  /*margin-top: 64px;*/
  margin-top: 64px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 64px;
  background-color: #171718;
  border: 5px solid #454648;
  border-radius: 16px;
  font-size: 20px;
}

.doc-table {
  padding-left: 32px;
  color: #ffffff;
}

th {
  width: auto;
  height: 32px;
  text-align: center;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

td {
  width: auto;
  height: 32px;
  text-align: center;
  white-space: nowrap;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

tr {
  text-align: center;
}

img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  border: 1px solid #171718;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back-button {
  background-color: transparent;
  border: none;
  color: #51e4ff;
  padding: 15px 32px;
  padding-left: 0;
  float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

.back-button:hover {
  opacity: 0.6;
}

.doc-title {
  display: inline-block;
  color: #ffffff;
  font-size: 50px;
  /*padding-top: 64px;*/
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 0;
  height: 5%;
}

.box-title {
  color: #2596be;
  padding-left: 32px;
  padding-right: 32px;
}
.box-subtitle {
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.p-copyright {
  text-align: center;
}
