body {
  display: inline-block;
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  background-color: #000000;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
  padding-left: 64px;
  padding-top: 16px;
}

h2 {
  color: #ffffff;
  /*padding-top: 16px;*/
  padding-left: 16px;
  padding-bottom: -16px;
}

.expression-label {
  color: #05fea1;
  background: #000000;
  padding-left: 64px;
  font-size: 30px;
  width: auto;
}

.navbar {
  position: sticky;
  width: 100%;
  height: auto;
  background-color: #b0b0b0;
}

.navbar ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2596be;
}

.navbar li {
  /*float: left;*/
  display: inline-block;
  border-right:0px solid #ffffff;
}

.navbar li b {
  display: block;
  color: white;
  background-color: #2596be;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  border-left: none;
  border-right: none;
}

.navbar li: first-child {
  border-left: none;
  border-right: none;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  background-color: #2596be;
  cursor: grabbing;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #04AA6D;
}

.main {
  display: inline-block;
  width: 100%;
  height: 94%;
  margin: 0px;
  background-color: #000000;
  padding: 0px;
}

.user-input-title {
  color: #ffffff;
  font-size: 25px;
}

.user-input {
  display: inline-block;
  padding-top: 32px;
  padding-left: 64px;
  width: 15%;
  height: auto;
}

.expression-input {
  display: inline-block;
  width: 100%;
  height: 24px;
  color: #ffffff;
  background-color: #454648;
  border: 1px solid #454648;
  border-radius: 15px;
  text-align: left;
  font-size: 25px;
  padding: 15px 24px;
  margin-top: 8px;
  transition: 0.3s;
}

.expression-input:focus {
  border-color: #1a6985;
  background-color: #1a6985;
  outline: none;
}

.grammar-title {
  font-size: 20px;
  text-align: left;
}

.grammar-box {
  overflow: auto;
  float: left;
  /*width: 35%;*/
  width: auto;
  height: auto;
  margin-top: 64px;
  margin-left: 64px;
  background-color: #171718;
  border: 5px solid #454648;
  border-radius: 16px;
  font-size: 20px;
}

.grammar-label {
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
}

.visual-box {
  float: left;
  width: 60%;
  height: auto;
  /*overflow: auto;*/
  margin-top: 64px;
  margin-left: 64px;
  background-color: #454648;
  border: 1px solid #454648;
  border-radius: 16px;
  font-size: 20px;
}

.pda-graph {
  width: auto;
  height: auto;
  padding: 32px;
}

.stack-title {
  display: inline-block;
  padding-top: 64px;
  padding-top: 0px;
  padding-left: 64px;
}

.stack-box {
  float: left;
  width: 5%;
  height: auto;
  overflow: auto;
  margin-top: 64px;
  margin-left: 64px;
  background-color: #454648;
  border: 1px solid #454648;
  border-radius: 16px;
  font-size: 20px;
  text-align: left;
}

.button-group {
  display: inline-block;
  width: 95%;
  height: auto;
  margin: 0px;
  padding-top: 16px;
  padding-left: 64px;
  background-color: #000000;
}

.button {
  background-color: #2596be;
  border: 1px solid #2596be;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /*margin: 0px 0px;*/
  margin-top: 16px;
  margin-left: 16px;
  margin-right: -12px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.6;
}

.button:hover:disabled {
  opacity: 1.0;
}

.button:disabled {
  background-color: #0b2d39;
  border-color: #0b2d39;
  color: #51abcb;
  cursor: not-allowed;
  font-weight: lighter;
}

.correct-button {
  background-color: #02b131;
  border: 1px solid #02b131;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /*margin: 0px 0px;*/
  margin-top: 16px;
  margin-left: 16px;
  margin-right: -12px;
  cursor: pointer;
  transition: 0.3s;
}

.correct-button:hover {
  opacity: 0.6;
}

.correct-button:hover:disabled {
  opacity: 1.0;
}

.correct-button:disabled {
  background-color: #034c16;
  border-color: #034c16;
  color: #07bd39;
  cursor: not-allowed;
  font-weight: lighter;
}

.wrong-button {
  background-color: #fd4242;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /*margin: 0px 0px;*/
  margin-top: 16px;
  margin-left: 16px;
  margin-right: -12px;
  cursor: pointer;
  transition: 0.3s;
}

.wrong-button:hover {
  opacity: 0.6;
}

.wrong-button:hover:disabled {
  opacity: 1.0;
}

.wrong-button:disabled {
  background-color: #620909;
  color: #ea7d7d;
  cursor: not-allowed;
  font-weight: lighter;
}

.select-length {
  display: inline-block;
  width: 3%;
  height: 5%;
  border: 3px solid #454648;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #454648;
}

.visual-table {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  border-collapse: collapse;
  width: 100%;
}

th {
  position: sticky;
  top: 0;
  width: auto;
  height: 32px;
  color: #ffffff;
  /*background-color: #454648;*/
  background-color: #2596be;
  text-align: left;
  /*padding: 16px;*/
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  text-align: center;
}

td {
  width: auto;
  height: 32px;
  color: #ffffff;
  text-align: left;
  /*padding: 16px;*/
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  text-align: center;
  /*padding-top: 16px;
  padding-bottom: 16px;*/
}

tr {
  background-color: #8f8f91;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #737375;
}

.introjs-overlay {
  color: #000000;
  background-color: #000000;
}

.introjs-tooltip-title {
  color: #2596be;
}

.introjs-helperLayer {
  position: absolute;
  z-index: 9999998;
  background-color: #FFF;
  background-color: rgba(255,255,255,.9);
  border: 1px solid #777;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 4px;
  /*box-shadow: 0 2px 15px rgba(0,0,0,.4);*/
  box-shadow: 0 2px 15px #ffffff;
  -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}
